header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

header h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3.5rem;
    color: #fff;
    text-align: center;
}