dialog {
    background-color: white;
    padding: 0 5px 5px 5px;
    text-align: center;
    border-radius: 10px;
}

dialog div:nth-child(1) {
    font-size: 1rem;
    margin: 1rem 0;
}

dialog div:nth-child(2) button {
    font-family: "Bebas Neue", sans-serif;
    background-color: grey;
    color: white;
    border: 0;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.5rem;
    transition: all 0.1s ease-in-out;
    width: 100%;
}